@import url(blocks/base.css);
@import url(blocks/header.css);
@import url(blocks/maincontent.css);
@import url(blocks/hero.css);
@import url(blocks/offers.css);
@import url(blocks/news.css);
@import url(blocks/paginator.css);
@import url(blocks/about.css);
@import url(blocks/footer.css);
