.hero {
  padding-bottom: 244px;
}

.hero__content {
  width: 511px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
}

.hero__text {
  font-size: 18px;
  margin-bottom: 30px;
}
