.news {
  position: relative;
}

.news__list {
  margin-bottom: 51px;
}

.news__list > * + * {
  margin-left: 20px;
}

.news__item {
  position: relative;
  width: 557px;
  height: 394px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  overflow: hidden;
}

.news__img {
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 30px;
  min-height: 169px;
}

.news__data {
  display: inline-block;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 12px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 4px;
}

.news__description {
  font-size: 16px;
  line-height: 1.3;
}
